on: 
  workflow_call:
    secrets:
      GHCR_TOKEN:
        required: true

env:
  GHCR_USER: innovationlabsmt
  GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GHCR_TOKEN }}

jobs:
  publish_artifact:
    name: Publish release artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - uses: actions/checkout@v2
        with:
          token: ${{ env.GHCR_TOKEN }}
      - id: theVersion
        run: echo "::set-output name=theVersion::$(echo ${GITHUB_REF##*/})"
      # - run: |
      #     make test
      #   if: "!contains(github.event.head_commit.message, '[skip test]')"
      #   env:
      #     VERSION: ${{ steps.theVersion.outputs.theVersion }}
      #     SERVICE: ${{ github.event.repository.name }}
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ env.GHCR_USER }}
          password: ${{ env.GHCR_TOKEN }}
      - uses: azure/setup-helm@v1
        with:
          version: '3.8.0'
      - run: |
          helm registry login ghcr.io -u ${{ env.GHCR_USER }} -p ${{ env.GHCR_TOKEN }}
      - uses: volesen/setup-skaffold@v1.1
        with:
          version: 'v1.33.0'
      - run: skaffold build -t ${VERSION}
        env:
          VERSION: ${{ steps.theVersion.outputs.theVersion }}
      - run: |
          helm dep up
          helm package --version ${VERSION} --app-version ${VERSION} .
          helm push ${{ github.event.repository.name }}-${VERSION}.tgz oci://ghcr.io/giginnovationlabs/helm
        env:
          VERSION: ${{ steps.theVersion.outputs.theVersion }}
      - run: |
          REL_ID=$(gh api -X GET repos/{owner}/{repo}/releases --jq '.[] | select(.tag_name == "${{ steps.theVersion.outputs.theVersion }}") | .id')
          gh api -X PATCH repos/{owner}/{repo}/releases/${REL_ID} -F prerelease=false -F name=${{ steps.theVersion.outputs.theVersion }}
      - uses: benc-uk/workflow-dispatch@v1
        if: "!contains(github.event.head_commit.message, '[skip deploy]')"
        with:
          workflow: Update
          repo: GiGInnovationLabs/orch-eks-dev
          token: ${{ env.GHCR_TOKEN }}
          ref: main
          inputs: '{ "repository": "${{ github.event.repository.name }}", "version": "${{ steps.theVersion.outputs.theVersion }}" }'
